.top-box
  グループを作成しました
  %div
.chat-sub
  .chat-sub__sub-header
    %p.chat-sub__sub-header__user-name sample
    %ul.chat-sub__sub-header__user-menu
      %li.chat-sub__sub-header__user-menu__edit-user
        %a{:href => ""}
          %i.fa.fa-edit
      %li.chat-sub__sub-header__user-menu__new-group
        %a{:href => ""}
          %i.fa.fa-cog
  .chat-sub__groups
    %a{:href => ""}
      .chat-sub__groups__group
        %p.chat-sub__groups__group--name sample
        %p.chat-sub__groups__group--message まだメッセージがありません
.chat-main
  .chat-main__header
    .chat-main__header__group
      %h2.chat-main__header__group--name sample
      %ul.chat-main__header__group__member-list
        Member:
        %li.chat-main__header__group__member-list__member sample
    %a{:href => ""}
      .chat-main__header__edit-btn Edit
  .chat-main__messages
    .chat-main__messages__message
      .chat-main__messages__message__upper-info
        %p.chat-main__messages__message__upper-info--user sampleuser
        %p.chat-main__messages__message__upper-info--date 2019/05/01(Wed) 15:30:12
      %p.chat-main__messages__message__message-text メッセージの表示箇所
  .chat-main__form
    %form.chat-main__form__new-message{:method => "post"}
      .chat-main__form__new-message__input-box
        %input.chat-main__form__new-message__input-box--text{:name => "message[content]", :placeholder => "type a message", :type => "text"}/
        %label.chat-main__form__new-message__input-box--image-label{:for => "message_image"}
          %i.fa.fa-image
          %input#message_image.chat-main__form__new-message__input-box--image-label--input{:name => "message[image]", :type => "file"}/
      %input.chat-main__form__new-message__submit-btn{:name => "commit", :type => "submit", :value => "Send"}/